#eon-widget .slider-all-holder {
    position: relative;
    margin-bottom: 12px;
}
#eon-widget .slider-holder {
    padding-top: 14px;
    padding-bottom: 14px;
}
#eon-widget .slider {
    position: relative;
    height: 11px;
    background-color: #ffffff;
    border: 1px solid #969696;
    border-radius: 5px;
}

#eon-widget .slider-thumb {
    top: -10px;
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border: 1px solid #969696;
    border-radius: 12px;
    cursor: pointer;
}
#eon-widget .slider-fill {
    height: 9px;
    position: absolute;
    left:0px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ff7500;
    background-color: #ff7500;
}

@media screen and (min-width: 321px) {

}
@media screen and (min-width: 481px) and (max-width: 600px) {

}
@media screen and (min-width: 601px) {
    

}
@media screen and (min-width: 768px) {
    

}

