#expose-funktions-box {
    font-family: Tahoma, Geneva, sans-serif !important;
    font-size: 12px;
    line-height: 12px;
    width: 374px;
    border: 1px solid #d1d8e0;
    border-bottom-width: 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
#expose-funktions-box header {
    display: block;
    background-color: #e4edfc;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fdfdfb), color-stop(100%, #e4edfc));
    background-image: -moz-linear-gradient(top, #fdfdfb 0%, #e4edfc 100%);
    background-image: linear-gradient(top, #fdfdfb 0%, #e4edfc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfb', endColorstr='#e4edfc');
    padding: 6px 12px;
    border-bottom: #d1d8e0;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}
#expose-funktions-box #expose-funktions-box-content {
    overflow: hidden;
}
#expose-funktions-box #expose-funktions-box-content header {
    background: url("../img/umzugslaster_icon.png") no-repeat 11px 13px transparent;
    padding: 16px 0 6px 56px;
    font-weight: bold;
}
#expose-funktions-box #expose-funktions-box-content .expose-funktions-box-item {
    float: left;
    width: 35%;
    padding: 0px 7% 12px 7%;
    text-align: center;
}
#expose-funktions-box #expose-funktions-box-content .expose-funktions-box-item {
    border: none;
}
#expose-funktions-box #expose-funktions-box-content .expose-funktions-box-item a {
    text-decoration: none;
}
#expose-funktions-box #expose-funktions-box-content .expose-funktions-box-item a:hover p {
    color: #FF7500;
}
#expose-funktions-box #expose-funktions-box-content .expose-funktions-box-item a img {
    border: 0;
}
#expose-funktions-box #expose-funktions-box-content .expose-funktions-box-item p {
    color: #335D86;
    margin: 0;
}