#removalcost-calculator .slider-all-holder {
    position: relative;
    margin-bottom: 12px;
}
#removalcost-calculator .slider-holder {
    padding-top: 14px;
    padding-bottom: 14px;
}
#removalcost-calculator .slider {
    position: relative;
    height:7px;
    border: 1px solid #dadada;
    border-radius: 5px;
}
#removalcost-calculator .slider-thumb {
    left:0px;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #dadada;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 21px;
    top: -10px;
}
#removalcost-calculator .slider-thumb:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 7px;
    border-width: 4px;
    border-color: #003468 #003468 #003468 #003468;
    border-style: solid;
    width: 0px;
    height: 0;
    border-radius: 8px;
}
#removalcost-calculator .slider-fill {
    background-color: #003468;
    height:9px;
    position: absolute;
    top: -2px;
    left: 0px;
    border-radius: 5px 0 0 5px;
}
.selecter-holder {
    position: relative;
}
.selecter-holder .selecter {
    border: 1px solid #dadada;
    border-radius: 5px 0px 0px 5px;
    padding-top: 7px;
    background-color: #ffffff;
    width: 58px;
    height: 31px;
    background: #ffffff;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.selecter-holder .selecter:before {
    content: "";
    position: absolute;
    top: -1px;
    display: block;
    right: -35px;
    border-width: 1px;
    border-color: #dadada #dadada #dadada transparent;
    border-style: solid;
    width: 33px;
    height: 29px;
    border-radius: 0px 5px 5px 0px;
}
.selecter-holder .selecter:after {
    content: "";
    position: absolute;
    top: 13px;
    right: -24px;
    border-width: 7px;
    border-color: #335D86 transparent transparent;
    border-style: solid;
    width: 0;
    height: 0;
}
.selecter-holder .selecter:hover {
    color: #FF7500;
}
.selecter-holder .selecter:hover::after {
    border-color: #FF7500 transparent transparent;
}
.selecter-holder .selecter.open {
    background: #ffffff;
    border-bottom: none;
    padding-bottom: 10px;
    border-radius: 5px 0px 0px 0px;
}
.selecter-holder .select-options {
    display: none;
    border: 1px solid #dadada;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    padding: 2px 0 2px 0;
    position: absolute;
    z-index: 999;
    width: 58px;
    background-color: #ffffff;
}
.selecter-holder .select-options p {
    padding: 0 0 3px 0;
    text-align: center;
    cursor: pointer;
}
.selecter-holder .select-options p:hover {
    color: #FF7500;
}
.selecter-holder .select-options p.selected {
    color: #FF7500;
}
#removalcost-calculator #result div {
    padding-top: 100px;
}
@media screen and (min-width: 321px) {

}
@media screen and (min-width: 481px) and (max-width: 600px) {

}
@media screen and (min-width: 601px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 768px) and (max-width: 1023px) {

}
