#strom-vergleichs-rechner h3 {
    margin-bottom: 0;
    border-bottom: 1px solid #CAD5DF;
}
#strom-vergleichs-rechner #visuals {
    margin-left: 5px;
}
#strom-vergleichs-rechner #visuals i.visual {
    float: left;
    width: 15px;
    display: block;
    height: 20px;
    background: url("../img/sprite-personen.png") no-repeat scroll transparent;
    background-position: 0px 0px;
}
#strom-vergleichs-rechner #visuals i.visual.active {
    background-position: 0px -27px;
}
#strom-vergleichs-rechner .slider-all-holder {
    position: relative;
}
#strom-vergleichs-rechner .slider-holder {
    padding-top: 14px;
    padding-bottom: 14px;
}
#strom-vergleichs-rechner .slider {
    position: relative;
    height:7px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #e7e7e7), color-stop(51%, #fdfdfd));
    background-image: -moz-linear-gradient(top, #e7e7e7 20%, #fdfdfd 51%);
    background-image: linear-gradient(top, #e7e7e7 20%, #fdfdfd 51%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#fdfdfd');
    border: 1px solid #97acc1;
    border-radius: 5px;
}
#strom-vergleichs-rechner .slider-value-holder {
    position: absolute;
    top: 0px;
    left: 196px;
}
#strom-vergleichs-rechner #datas {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #CAD5DF;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
#strom-vergleichs-rechner #datas ovf-hdn {
    position: relative;
}
#strom-vergleichs-rechner #datas input {
    font-size: 12px;
    color: #444;
    padding: 4px 6px;
    background: white;
    -webkit-box-shadow: 1px 2px 2px gainsboro inset;
    box-shadow: 1px 2px 2px gainsboro inset;
    border: 1px solid #97ACC1;
    margin-right: 8px;
    width: 10%;
}
#strom-vergleichs-rechner #datas input.error {
    border-color: #ff0000;
}
#strom-vergleichs-rechner #datas label.error {
    color: #ff0000;
}
#strom-vergleichs-rechner .slider-thumb {
    top:-12px;
    left:0px;
    position: absolute;
    width: 25px;
    height: 32px;
    background-color: #cdd8e1;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f2f5f7), color-stop(100%, #cdd8e1));
    background-image: -moz-linear-gradient(top, #f2f5f7 0%, #cdd8e1 100%);
    background-image: linear-gradient(top, #f2f5f7 0%, #cdd8e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f7', endColorstr='#cdd8e1');
    border: 1px solid #97acc1;
    border-radius: 5px;
    cursor: pointer;
}
#strom-vergleichs-rechner .slider-fill {
    background-color: #5c7d9e;
    height:9px;
    position: absolute;
    top:-1px;
    left:0px;
    border-radius: 5px 0 0 5px;
    background-color: #5c7d9e;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #97acc1), color-stop(51%, #5c7d9e));
    background-image: -moz-linear-gradient(top, #97acc1 20%, #5c7d9e 51%);
    background-image: linear-gradient(top, #97acc1 20%, #5c7d9e 51%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97acc1', endColorstr='#5c7d9e');
}
@media screen and (min-width: 321px) {
    #strom-vergleichs-rechner .slider-value-holder {
        left: 337px;
    }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
    #strom-vergleichs-rechner .slider-value-holder {
        left: 472px;
    }
}
@media screen and (min-width: 601px) {
    #strom-vergleichs-rechner {
        border-style: solid;
        border-width: 1px;
    }
    #strom-vergleichs-rechner h3 {
        border-bottom: none;
        width: 30%;
    }
    #strom-vergleichs-rechner slider-all-holder {
        position: static;
    }
    #strom-vergleichs-rechner #datas {
        border-right: 1px solid #CAD5DF;
        float: left;
        width: 60%;
        border-top: none;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #strom-vergleichs-rechner #result {
        margin-right: 0;
        float: right;
        width: 30%;
        border-top: none;
        padding-top: 0;
    }
    #strom-vergleichs-rechner .slider-holder {
        width: 15%;
        float: left;
    }
    #strom-vergleichs-rechner .slider-value-holder {
        float: left;
        position: static;
    }
}


/*



#helper-visuals {
                margin-left: 68px;
                i.helper-visual {
                    float: left;
                    width: 15.5%;
                    display: block;
                    height: 55px;
                    background: url("../images/transportService/sprite_transport-service.png") no-repeat scroll transparent;
                    background-position: 0px -1221px;
                    &.active {
                        background-position: 0px -1146px;
                    }
                }
            }




            .slider-holder {
                width: 48%;
                float: left;
                padding: 14px 0;
                .slider {
                    position: relative;
                    height: 7px;
                    .gradient(@color: #FDFDFD, @start: #E7E7E7, @stop: #FDFDFD, @startColorStop: 20%, @stopColorStop: 100%);
                    border: 1px solid #97ACC1;
                    border-radius: 5px;
                    .slider-fill {
                        height: 9px;
                        position: absolute;
                        top: -1px;
                        left: 0px;
                        border-radius: 5px 0 0 5px;
                        .gradient(@color: #5C7D9E, @start: #97ACC1, @stop: #5C7D9E, @startColorStop: 20%, @stopColorStop: 51%);
                    }
                    .slider-thumb {
                        width: 15px;
                        height: 30px;
                        top: -12px;
                        position: absolute;
                        border: 1px solid #97ACC1;
                        border-radius: 5px;
                        cursor: pointer;
                        .gradient(@color: #CDD8E1, @start: #F2F5F7, @stop: #CDD8E1, @startColorStop: 0%, @stopColorStop: 100%);
                    }
                }
            }

*/




@media screen and (min-width: 768px) {
    #strom-vergleichs-rechner #datas .label {
        float: left;
        width: 25%;
    }
    #strom-vergleichs-rechner #result {
        padding-bottom: 0;
    }
    #strom-vergleichs-rechner .slider-thumb {
        width: 15px;
        height: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #strom-vergleichs-rechner #datas .label {
        width: 20%;
    }
}
